.header {
  width: 65rem;

  @include flexBox;
  justify-content: space-between;

  background-color: var(--color-grey);

  padding: 2rem;

  &__heading {
    font-size: 5rem;
    font-weight: 400;
  }

  &__para {
    font-size: 2.4rem;
  }
}

// =========================================================

.home {
  width: 65rem;

  padding: 2rem;
  background-color: var(--color-white);

  &__list {
    width: 100%;
    padding: 1rem 0;
  }

  &__item {
    @include flexBox;
    justify-content: space-between;

    border-bottom: 2px solid var(--color-grey);

    padding: 1rem 0;

    margin-bottom: 2rem;

    &__task {
      font-size: 2.6rem;
    }

    &__delete {
      border: 2px solid var(--color-black);
      border-radius: 50%;

      transition: all o.2s ease-in-out;

      cursor: pointer;

      &:hover {
        color: red;
        border: 2px solid red;
      }
    }
  }
  // ===========================================================

  &__box {
    width: 100%;

    @include flexBox;
    justify-content: space-between;

    padding: 1rem 0;

    &__text {
      width: 75%;
      @include flexBox;
      justify-content: flex-start;

      border-bottom: 2px solid var(--color-grey);

      &__icon {
        margin-right: 2rem;
      }

      &__input {
        width: 100%;
        font-size: 2.4rem;

        padding: 0.5rem 0;

        border: none;
        outline: none;
      }
    }

    &__btn {
      font-size: 2.4rem;
      padding: 0.5rem 1.5rem;

      border: none;
      outline: none;

      transition: all 0.2s ease;

      &:hover {
        color: var(--color-white);
        background-color: var(--color-light-blue);
      }
    }
  }
}
