// ================================================================
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

:root {
  transition: all 0.3s;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% --> 1rem = 10px
  scroll-behavior: smooth;

  @media only screen and (max-width: $bp-huge) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 43.75%;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 43.75%;
  }

  @media only screen and (max-width: $bp-smallest) {
    font-size: 37.5%;
  }
}

body {
  background-color: var(--color-light-blue);

  width: 100%;
  min-height: 100vh;

  padding-top: 25rem;
  padding-bottom: 10rem;

  @include flexBox;
  flex-direction: column;
  justify-content: flex-start;
}
